.about-me{
    background-color:    #fff2e6;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 10px;
}
.skills-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 30px;
}
.skills-container > div {
    background-color: #fff2e6;
    border: 1px solid #ffe6cc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 7px 10px #ffe6cc;
    max-width: 150px;
    min-width: 150px;
}

.skills-container > div > ul {
    margin-left: 10px;
    list-style: none;
}

.title1{
    text-align: center;
}